{% extends 'common/base.html' %}
{% block title %}AQUAMARINE{% endblock %}
{% block content %}
<div class="content-navigation">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            {% if data.products.first.category.is_for_plumbing %}
            <li class="breadcrumb-item"><a href="{% url 'plumbing'  %}">Сантехника</a></li>
            {% else %}
            <li class="breadcrumb-item"><a href="{% url 'tile'  %}">Плитка</a></li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">{{ data.products.first.category.name }}</li>
        </ol>
    </nav>
</div>
<div class="content-carousel">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in data.products %}
        <div class="col">
            <a href="{% url 'product' product_article=product.article %}">
                <div class="card h-100">
                    <img src="{{ product.photo_set.first.image.url }}" class="card-img-top" alt="..."
                         style="height: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Артикл: {{ product.article }} <br>Производитель: {{ product.brand }}<br> Страна: {{ product.country }}</p>
                        <h4>{{ product.price }} грн</h4>
                        <button type="button" class="btn btn-info">Купить</button>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}